.container {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    max-width: 90%;
    display:inline-block;
    white-space: nowrap;
}

.card-head {
    width: 100%;
    min-width: 100%;
    height: 100px;
    display:inline-block;
    padding-bottom: 25px;
}

.card {
    float: left;
    max-width: 25%;
    min-width: 25%;
    padding-left: 5%;
    padding-bottom: 10%;
}

.text-center {
    text-align: center;
}

.redText {
    color: red;
}

.row {
    overflow: hidden;
    text-overflow: ellipsis;
} 

img {
    border-color: red;
    border: 1px solid red;
}

.img-thumbnail {
    max-width: 86px;
    height: 92px;
}

.img-container {
    float: left;
    vertical-align:middle;
    width: 30%;
    height: 90%;
}

.user-container {
    float: right;
    width: 50%;
    white-space: normal !important;
    word-wrap: break-word !important;
}

.user {
    padding-top: 20px;
    white-space: normal !important;
    word-wrap: break-word !important;
}

.table {
    border-spacing:0;
    border-collapse: collapse;
}
td {
    border: black solid 1px;
    width: 25%;
}

@media(max-width: 960px) {
    .container {
        padding-left: 0%;
        padding-right: 0%;
        width: 100%;
        max-width: 100%;
        display:inline-block;
        white-space: nowrap;
    }

    .card {
        float: left;
        max-width: 30%;
        min-width: 30%;
        padding-left: 3%;
        padding-bottom: 10%;
    }

    .user-container {
        width: 50%;
        white-space: normal !important;
        word-wrap: break-word !important;
    }
}

@media(max-width: 720px) {
    .container {
        width: 100%;
        max-width: 100%;
        display:inline-block;
        white-space: nowrap;
    }

    .card {
        float: left;
        max-width: 15%;
        min-width: 15%;
        padding-bottom: 10%;
    }

    .user-container {
        width: 50%;
        white-space: normal !important;
        word-wrap: break-word !important;
    }
}